@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: url("https://olympic.ca/wp-content/uploads/2011/09/adam_van_koeverden_action_2012_1340px.jpg?quality=100");
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 72px;
    background: url("https://olympic.ca/wp-content/uploads/2011/09/adam_van_koeverden_action_2012_1340px.jpg?quality=100");
    background-size: cover;
    background-clip: text;
    color: transparent;
    filter: invert(1);
    padding-block: 64px;
    margin: 0;
}

nav{
    display: flex;
    margin-inline: auto;
    justify-content: center;
    gap: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    width: fit-content;
    padding: 8px;
    border-radius: 999px;
    background: linear-gradient(to top, #0002, #fff2 50%, #fffa);
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 8px #0004;
    transition: all 0.2s;
}

nav a{
    text-decoration: none;
    font-weight: 600;
    color: black;
    backdrop-filter: blur(4px);
    background: transparent;
    padding-inline: 4px;
    border-radius: 999px;
    transition: transform 0.1s;
}

a:hover{
    transform: scale(2);
}